.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 200px;
}

.nav-items > ul{
 display: flex;
 padding: 0px 10px;
 font-size: 23px;
 list-style-type: none;
}

.nav-items > ul >li {
    display: flex;
    padding: 8px;
    margin: 10px;
   }

.res-card{
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: -3px 6px 5px 0px rgba(176,164,176,1);
    transition: all .3s ease-in-out;
}

.res-card:hover {
    box-shadow: -3px 18px 20px 0px rgb(42, 40, 40);
  }

.res-container{
    display: flex;
    flex-wrap: wrap;

}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.res-card:hover{
    border: 1px solid white;
    cursor: pointer;   
}
   
.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.shimmer-card{
    height: 300px;
      width: 200px;
      margin: 20px;
      background-color: #D3D3D3;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.login-btn{
    cursor: pointer;
     padding: 0 20px;
}

.filter{
    display: flex;
}

.search-btn{
    cursor: pointer;
}

.name-detail{
    color: #FC4100;
}